adal==1.2.1
aiohttp==3.6.2
aiounittest==1.3.0
applicationinsights==0.11.9
async-timeout==3.0.1
attrs==20.3.0
azure-cognitiveservices-language-luis==0.2.0
azure-common==1.1.26
azure-core==1.12.0
azure-cosmos==3.2.0
azure-storage-blob==12.7.0
Babel==2.7.0
botbuilder==0.0.1
botbuilder-ai==4.12.0
botbuilder-applicationinsights==4.12.0
botbuilder-azure==4.12.0
botbuilder-core==4.12.0
botbuilder-dialogs==4.12.0
botbuilder-schema==4.12.0
botframework-connector==4.12.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptography==3.3.2
datedelta==1.3
Django==2.2.6
djangorestframework==3.10.3
emoji==1.2.0
Flask==1.1.1
future==0.18.2
grapheme==0.6.0
icalendar==4.0.7
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonpickle==1.2
luis==2.0.2
MarkupSafe==1.1.1
msal==1.6.0
msrest==0.6.10
msrestazure==0.6.4
multidict==4.7.6
multipledispatch==0.6.0
numpy==1.20.1
oauthlib==3.1.0
pandas==1.2.3
pycparser==2.20
PyCronofy==1.7.3
PyJWT==1.5.3
pymessenger==0.0.7.0
python-dateutil==2.8.1
pytz==2021.1
recognizers-text==1.0.2a2
recognizers-text-choice==1.0.2a2
recognizers-text-date-time==1.0.2a2
recognizers-text-number==1.0.2a2
recognizers-text-number-with-unit==1.0.2a2
regex==2019.8.19
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
six==1.15.0
sqlparse==0.4.1
ujson==4.0.2
urllib3==1.25.11
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
